In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
df = pd.read_csv("../../scrapyproject/scrapyproject/file/naverPlace/여행랭크.csv")

In [3]:
df

,addr,category,context,id1,name,rank
0,강원도 홍천군 서면 팔봉리 1290-2,"숙박,콘도,리조트","스키장,스노우보드,실내워터파크,편안한,등산",13139708,소노벨 비발디파크,1
1,강원도 홍천군 서면 팔봉리 1290-2,"레저,테마,워터파크","실내워터파크,파도풀,노천온천,재미있는,휴식",11795570,오션월드,2
2,강원도 홍천군 두촌면 천현리 산134-1,"여행,명소,산,고개","휴양림,등산,막국수,편안한,계곡",11491290,가리산,3
3,강원도 홍천군 서면 팔봉리 1290-2,"숙박,콘도,리조트","스키장,실내수영장,산책로,편안한,휴식",13284318,소노펠리체 비발디파크,4
4,강원도 홍천군 두촌면 천현리 776,"자연명소,휴양림,산림욕장","휴양림,짚라인,캠핑,재미있는,등산",11490993,가리산자연휴양림,5
...,...,...,...,...,...,...
3208,경상북도 고령군 덕곡면 노리,"여행,명소,계곡","계곡,저수지,삼겹살,깨끗한,경치",21652251,상비리계곡,16
3209,경상북도 고령군 운수면 신간리 산123,"숙박,캠핑,야영장",NaN,1298840811,대가야 캠프타운,17
3210,경상북도 고령군 대가야읍 장기리 532,"여행,명소,보물","유적,암벽",20103855,고령 장기리 암각화,18
3211,경상북도 고령군 쌍림면 용리 187,"종교,불교","대나무,유물,저수지",11663973,반룡사,19
3212,경상북도 고령군 다산면 좌학리 191,"여행,명소,근린공원",NaN,20662075,좌학근린공원,20

In [4]:
driver = webdriver.Chrome('../chromedriver.exe')

In [5]:
xmf = pd.DataFrame(columns =['분위기', '인기토픽', '찾는목적', '인기월', '10', '20', '30', '40', '50', '60',
       'name'])
df2 = pd.DataFrame(columns= xmf.columns)
df2

Empty DataFrame
Columns: [분위기, 인기토픽, 찾는목적, 인기월, 10, 20, 30, 40, 50, 60, name]
Index: []

In [6]:
start_time =time.time()
error = []
for nb , idx in enumerate(df['id1'].values[2603:]):
    md = {}
    tpc = {}
    obj = {}
    list1 = [md,tpc,obj]
    temp2 ={}
    tn = {}
    tw = {}
    th = {}
    fr = {}
    ft = {}
    sx= {}
    temp3 =[tn,tw,th,fr,ft,sx]
    try:
        driver.get('https://pcmap.place.naver.com/place/{}/home'.format(idx))
        time.sleep(1)
        spl =driver.find_element_by_link_text('더보기')
        spl.click()
        soup = BeautifulSoup(driver.page_source, 'html')
        div =  soup.select('div.place_detail_wrapper > div:nth-child(4) > div > div.place_section._1r18o')
        ul = div[0].select('div')[0].select('div ul')
        for j in range(3):
            for num, i in enumerate(ul[0].select('li')[j].select('span')):
                if num == 0:
                    tmp = i.text
                elif num ==1:
                    list1[j][tmp] = i.text.replace(', ','')
                else:
                     list1[j][tmp] +='|'+ i.text.replace(', ','')
        em = div[0].select('div')[0].select('h3 em')
        temp2['인기월'] = em[0].text
        ul2 = div[0].select('#bar_chart_container ul')
        for i in range(6):
            tmp = ul2[0].select('li')[i].text.split('%') 
            temp3[i][tmp[1][1:]] =tmp[0]
        xmf =pd.concat([pd.DataFrame(md,index= [nb]) ,pd.DataFrame(tpc, index=[nb]),pd.DataFrame(obj, index=[nb]),
                  pd.DataFrame(temp2, index=[nb]),pd.DataFrame(tn,index=[nb]),pd.DataFrame(tw, index=[nb]),
                  pd.DataFrame(th, index=[nb]),pd.DataFrame(fr, index=[nb]),pd.DataFrame(ft, index=[nb]),pd.DataFrame(sx, index=[nb])],axis=1)
        xmf['name'] = df.loc[nb,'name']

        df2 = pd.concat([df2,xmf],axis=0)
    
    except:
        error.append(nb)
    if nb % 300 == 0 and nb != 0 :
        end_time = time.time()
        print(end_time - start_time)
        start_time = time.time()

491.3567216396332
1139.4967412948608

In [8]:
df2.to_excel('../selenium_file/naverPlace_나머지.xlsx')

In [ ]:
dd
list1

In [88]:
temp2

{'인기월': '3월, 4월'}

In [133]:
df2 = pd.DataFrame(columns= xmf.columns)
df2 = pd.concat([df2,xmf],axis=0)
df2

,분위기,인기토픽,찾는목적,인기월,10,20,30,40,50,60,name
0,재미있는|깨끗한,계곡|캠핑|유원지|다슬기|참게탕,가족여행|힐링|휴식,"3월, 4월",25.00000000000001,65.66549999999997,89.49299999999995,86.05549999999997,25.00000000000001,25.00000000000001,오션월드

In [101]:
md.items(),tpc.items(),obj.items()

(dict_items([('분위기', '재미있는|깨끗한')]),
 dict_items([('인기토픽', '계곡|캠핑|유원지|다슬기|참게탕')]),
 dict_items([('찾는목적', '가족여행|힐링|휴식')]))

In [124]:
xmf =pd.concat([pd.DataFrame(md,index= [0]) ,pd.DataFrame(tpc, index=[0]),pd.DataFrame(obj, index=[0]),
          pd.DataFrame(temp2, index=[0]),pd.DataFrame(tn,index=[0]),pd.DataFrame(tw, index=[0]),
          pd.DataFrame(th, index=[0]),pd.DataFrame(fr, index=[0]),pd.DataFrame(ft, index=[0]),pd.DataFrame(sx, index=[0])],axis=1)
xmf['name'] = df.loc[1,'name']
xmf

,분위기,인기토픽,찾는목적,인기월,10,20,30,40,50,60,name
0,재미있는|깨끗한,계곡|캠핑|유원지|다슬기|참게탕,가족여행|힐링|휴식,"3월, 4월",25.00000000000001,65.66549999999997,89.49299999999995,86.05549999999997,25.00000000000001,25.00000000000001,오션월드

In [21]:
df['id1'][601:]

601     1445021965
602       13106152
603       12152598
604       36901076
605       37251106
           ...
3208      21652251
3209    1298840811
3210      20103855
3211      11663973
3212      20662075
Name: id1, Length: 2612, dtype: int64

In [22]:
df['id1'].values[2603:]

array([  13444973,   20237413,   13451468,   13491248,  747367798,
         37928746,   21428646,   13302059,   13491569,   11491834,
         17653365,   17655364,   13346280,   38232580,   34778540,
         31905725,   17656590,   37932509,   17653453,   12440733,
         13538069,   15727974,   13227728,   13490898,  306487611,
         11620784,   19816218,   13491259,   11565485,   17706406,
         12973592,   13491314,   17696820,   19589180,   13491419,
         11663975,   34368967,   38419210, 1697544982,   15848228,
       1525665553,   34581418, 1494448097,  233640945,   36011299,
         15802932,   35559576,   31040970,   20103292,   17658529,
         35357441, 1198697408,   30915061, 1123371022,   19816216,
         13491054,   17695663,   13140921,   13139096,   13491160,
         17697033,   37026981, 1317732943, 1383754282,   37565086,
        448633256,   13490990,   15794526,  580828896,   33460952,
         13490877,   11491793,   13300771,   37153599,   19494131,
         13345818,   11626164,   17745254,   17750547,   36992686,
         12354401,   34318183,   13477418,   19748090,   15813475,
         15344884,   15344317,   19497096,   34581421,   19856735,
       1121730383,   15816984,   12015967,   15817278,   12043724,
         36097715,   34146148,   13288411,   11491326,   15557152,
        607672684,   12043916,   12228535,   19801506,   20103170,
         11620785,   12320059,  527508235,   38695789,   15880589,
       1301049407,   15862323,   36947689,   20963197,   15845569,
         35425143,   20098669,   11785714,   34079200,   17750146,
         21251231,   13538027,   15342471,   21175964,  874644431,
         32731408, 1776475331,   11658975,   19816365, 1264871084,
         13491255,   19801504,   20118997,   20061798,   11663995,
         13163539,   20038050,   13491218,   21274713,   33005945,
         31206839,   20030522,   35756879,  705367453,   20103876,
        439805984,   10977456,   21107212,   19777454,   32521250,
         13495928,   13491786,   13351606,   13491652, 1545952985,
         13542450,   13491895,   12913761,   12162392,   11491498,
         13144355,   13041798,   11821660,   12838379,   36286944,
         13475000,   17113663,   30802429,   13109573,   32572780,
         17110114, 1713381453,   34581438,   15883700,   20099467,
         20065932,   37899192,   11663866, 1278563983,   13491833,
       1878704656,   12179553,   20237552,   21408113,   38404795,
         13476486,   13491313,   15889698,   37435592,   15885490,
         13491907,   13491511,   33621480,   20472088,   12824231,
         35914039,   15912374,   13006955,   36376550,   35272211,
         21531698,   15723944,   37991924, 1281435309, 1603222020,
         15906196,   11715324,   20969613,   21788443,   21251373,
         17421128,   11583188,   37765033,   11491035,   13491951,
         12336696,   19816234,   17428893,  590873191, 1261556956,
         32481280, 1611993971, 1148447766,   32372577,   20099013,
         11483638,   12910851,   11664051,   11491076,   19713188,
         19240548,   13325476,   20794374,   13495921,   37642377,
         19239562,   36166277,   19241193,   19243058, 1722763394,
         19249184,   34348911, 1523361876,   13491302,   35044527,
       1579532732, 1424110862,   17105936,   15884452, 1522145605,
         17754113,   11626155,   13323575,   13491154,   11491071,
         13491541,   11622440,   13109047,   13491151, 1647152625,
         30831281, 1387305784, 1266048331,   11680368,   13491766,
         13491123, 1735212439,   20436774,   85370269, 1043190012,
         20066358, 1778136098,   11622379,   11491051,   19773846,
       1036732097,   36939861,   15887121, 1280697897,   17753112,
         17753217,   17753201, 1462244076,   31059365,   38466227,
        878739242, 1740073684,   36649102,   19478544,   35258064,
         11795800,   20054877, 1762433312, 1578195060,   20095448,
         20590674, 1662143169,   20494586, 1843562058, 1091573678,
       1180904072,   18221866,   32352767, 1813490288,   36466327,
        914636376,   13591362, 1985379001,   17877038,   38641914,
         11491546,   36343646,   11491066,   36601296,   11663977,
         13491500,   19827992,  417828028,   13491837,   11491383,
       1019828733,   12045178,   20434120,   13495173,   15925723,
         37830211,   11491197,   19493820, 1488686802, 1546566762,
         13299001,   13302262, 1008194917,   11664075, 1279245005,
       1047260566, 1572605620, 1271965506,  120550931,  160529325,
         37653587,   15923259,   20107908,   13480814,   11664076,
         33860619,   37871064,   32708617,   17600616,   31699494,
         11491161,   13298947,   13491086,   21016926,   11491015,
       1156045172, 1173848226,   13491760,   12315882, 1656307764,
       1585353243,   37569411,  422696222,   17824900,   13193829,
         36643955, 1183166877, 1703614573,   32890934,   17826056,
         13491267,   19700305,   11491579,   11491061,   11491044,
         36886770,   20062767,   13491256,   20099332,   11491257,
         13491699,   12971809,   15607658,   21784546,   20111682,
         15607400,   19737251,   15361395,   19856538,   20108386,
         11491925,   11491872,   13491501,   15932710,   20431449,
         19494178,   13538071,   11558132,   15932109,   13490952,
         13538076,   30914583,   20091711, 1079759393,   15932136,
         12035599,   35261589,   32528510,   31479995,   35958570,
         15486993,   13491949,   11665621, 1711790200,   11491829,
         13148257,   35458106,   11785007,   33109843,   15496752,
         20104066,   12895151,   20070677,   21857155, 1494903451,
        928689820, 1833345450,   37213302, 1547584937,   36778721,
         19494111, 1625508165,   19904286,   19902037,   38011660,
         13491312,   20108156,   38320547,   11663965,  915288737,
         94660189, 1120417542,   15162884,   19371971,   15438922,
         15432340,   15184257,   11736037,   15450020,   38482574,
         11491408,   13287439,   13490944,   20237568,   13104120,
       1825870903,   11663990,   20790251,   13065363,   37578241,
         12324234, 1323284342, 1561953996,   33647387,   15351799,
       1950166561,   11604856,   32745686,   13491184, 1041148956,
         11854101,   21688647,   12758643,   11491046,   13491331,
         15458182,   13491044, 1661541310,   15456548,   36932612,
         38258910,   13496731,   35781576, 1691011941,   12278378,
         15457385,   32520517,   13448839,   11657761,   15468622,
         13491865,   12765352,   17666697,   11491582,   21075878,
         13346288,   36640261,   13491959,   33703283,   13491166,
         21652456,   17664577,   37046117,   17670740,   17420614,
         17665610,   36321157,   17424287,   12972124, 1079946708,
         13490915,   13491845,   13307681,   12217375,   13491237,
         13491071, 1179459045,   20054327,   17132905,   17118835,
         33014560, 1489944723,   13486108,   36230153,   19816104,
         35413627,   17119275, 1823980901,  430332475,   17132045,
         13141230, 1410163203,   17829373,   34827798, 1840043596,
       1916067387,   34761918, 1069123670,   38495507, 1256678968,
         11818380,   37196971, 1035280352,   30858483,   11885976,
       1697208888,   20437556, 1631713885,   17749313, 1389406427,
         11491268,   13491593,   13516451,   11491206, 1104542032,
         13496849,   13491736,   13427007,   11491522,   33012685,
         21093980,   13310029,   20349330,   31949386,   13491108,
         13459544,   34714593,   37830224, 1751415075,   13491023,
         13165331,   38716372,   36605987,  607691769,   30881770,
         36277048,   19963724,   36561348, 1813826607,   37130100,
        104046288,   19777236, 1147434290,   37408444, 1977461063,
         15515122,   37015125,   38281467,   36908798,   15301766,
         12381333,   13391197, 1737108554, 1875899003, 1856098262,
         13491266,   32769709,   31016352,   31064403,   31192806,
         20434440, 1219030742, 1348178351,   37111870, 1079424242,
         21652251, 1298840811,   20103855,   11663973,   20662075],
      dtype=int64)